@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  overflow-x: hidden;
  selection-background-color: rgba(168, 85, 247, 0.3);
  selection-color: white;
}

html {
  scroll-behavior: smooth;
}

/* Marquee Text Effect */
.stroke-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}
.stroke-text:hover {
  -webkit-text-stroke: 0px;
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes gradient-xy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-xy {
  background-size: 200% 200%;
  animation: gradient-xy 6s ease infinite;
}